* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    font-family: 'Merriweather', serif;

}

header {
    margin-bottom: 120px;
}

section {
    margin-bottom: 120px;
}

.container {
    width: 83%;
    margin: 0 auto;
}

/* start header styles */

.content-wrapper {
    background-image: url('../images/Banner Image.png');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    margin: 0 auto;

}

.content-wrapper .new-title {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    padding: 175px 530px 0px 530px;
}

.content-wrapper .new-heading {
    color: #ffffff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 340px 180px 340px;
}

/* End header styles */

/* Start main section styles */

/* Start offer section styles */
.dis-section-wrapper {
    background-color: #fff;
    width: 100%;

}

.dis-section-wrapper .offer-content {
    text-align: center;
}

.offer-heading {
    color: #f00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}

.off-description {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.off-catagory {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.offer-img {
    margin: 50px auto;
    width: 800px;
}

.offer-img img {
    width: 100%;
}

/* end offer section styles */

/* end offer section styles */
.party-wrapper {
    width: 100%;
    height: 600px;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* ============================ */
}

.party-conten-item {}


.party-hedding {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding: 0px 120px 0px 100px;
    width: 600px;
}

.party-description {
    width: 600px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    line-height: 30px;
    padding: 0px 120px 0px 100px;

}

.btn_party {
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 100px;
    color: #fff;
    background: none;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

.btn_party:hover {
    cursor: pointer;
}

/* partty section styles end */

/* address section styles start */
.address-wrapper {
    text-align: center;
    background-image: linear-gradient(#ffe8e8, #fffefe);
    padding: 100px 0;
    /* border: 1px solid; */
    box-shadow: 10px 10px 20px rgb(192, 183, 185);
}

.address-wrapper p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.address-wrapper p .importen {
    color: #F00;
}

.btn-join-now {
    padding: 16px 32px;
    margin-top: 65px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    background-color: #F00;
}

.btn-join-now:hover {
    cursor: pointer;
}


/* address section styles start */


/* coming soon section styles start*/
.best-offer-wrapper {
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comming-soon {
    width: 33.33%;
    padding: 0px 0px 0px 50px;
}

.comming-soon .nboffer {
    color: #f00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.comming-soon .com-soon-hedding {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.comming-soon .com-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.images-cercil {
    width: 33.33%;
    border: 15px solid red;
    border-radius: 300px;
    margin-left: 70px;
    margin-right: 70px;

}

.images-cercil img {
    width: 365px;
    height: 365px;
    padding: 20px 20px 20px 20px;

}

.new-year-offier {
    width: 33.33%;
    padding: 20px;
}

.new-year-offier .twenty-four {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.new-year-offier .twentyfour-descriptin {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;
}

/* coming soon section styles end */

/* ================================================ */
.holidays-dammy-wrapper {
    width: 100%;
    height: 618px;

}

.hoki_bg {
    width: 100%;
    height: 100%;
    background-image: url('../images/rectangle1.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;

}

.hoki_bg .img-left {
    width: 40%;
    height: 100%;


}

.hoki_bg .img-left img {
    width: 100%;
    margin-top: 125px;
    margin-left: 125px;
}

.hoki_bg .img-mid-bg {
    width: 59.5%;
    height: 63%;

    background-image: url('../images/rectangle1c.png');
    background-repeat: no-repeat;
    background-position: right center;


}

.hoki_bg .img-mid-bg .bg-div {
    width: 50%;
    height: 50%;
    margin: 60px 200px 60px 200px;
    align-items: ;

}

/* ================================================ */


/* coming soon section styles end */

.holidays-sales-wrapper {
    background-color: #fff;
    width: 100%;
}

.holidays-sales-wrapper .sales-dic-img {
    width: 100%;
    background-image: url('../images/rectangle1.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sales-content {
    text-align: center;

}

.sales-content .functional {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holiday-hedding {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 30px;
}

.holidays-descriptin {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 0px 200px 55px 200px;

}

.holiday-hedding span {
    color: #F00;
}







.best-gift-wrapper {
    width: 100%;
    background-color: #fff;

}

.best-gift-content {
    text-align: left;
}

.best-gift-content .bg-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.best-gift-content .bg-heidding {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 25px;
}

.best-gift-content .bg-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;

}

.gift-item-contaner .best-gift-item {
    display: flex;
    padding-top: 25px;
    gap: 25px;

}

.best-gift-item .gift {
    width: 425px;
    height: 450px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 15px;
}

.best-gift-item .gift img {
    width: 100%;


}

.best-gift-item .gift:hover {
    cursor: pointer;


}

/* end gift section styles */

/* start subsribe section styles */
.subribe-wrapper {
    /* width: 100%; */
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 220px;
}

.subribe-wrapper .subsribe-hedding {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 40px;
    padding-bottom: 25px;
}

.subribe-wrapper .subsribe-decription {
    width: 80%;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 50px;

}

.subsribe-from {
    width: 100%;
    text-align: center;

}



.subsribe-from .email-in {
    width: 400px;
    border: 0;
    padding: 25px 30px;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    font-weight: 400;
}

.subsribe-from .btn-sub {
    padding: 25px 50px;
    border-radius: 00px 50px 50px 00px;
    border: 0;
    background-color: #f00;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.subsribe-from .btn-sub:hover {
    cursor: pointer;
    background-color: rgb(240, 95, 95);
}

/* start footer section styles */
.footer-wrapper {
    width: 100%;
    background: #070211;
    color: #fff;
}


.footer-wrapper .adderass-bir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 0;
    border-bottom: 1px solid #ffe8e8
}

.adderass-bir .thikana {
    width: 60%;
}

.phane-web p {
    display: flex;
    align-items: center;

}

.phane-web p span img {
    padding-right: 10px;
}

.icoe-wrepper {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #ffe8e8
}

.icoe-wrepper img:hover {
    cursor: pointer;
}

.copy-righits {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    width: 80%;
    margin: 0 auto;
}